<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pi Video Surveillance</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

  <script>
    var isKeydown = false;

    document.addEventListener('keydown', function(event) {
      if (isKeydown) {
        return;
      }

      switch (event.key) {
        case "w":
        case "ArrowUp":
          sendCommand("forward", "/direction");
          break;
        case "a":
        case "ArrowLeft":
          sendCommand("left", "/direction");
          break;
        case "d":
        case "ArrowRight":
          sendCommand("right", "/direction");
          break;
        case "s":
        case "ArrowDown":
          sendCommand("back", "/direction");
          break;
      }

      isKeydown = true;
    });

    document.addEventListener('keyup', function(event) {
      sendCommand("stop", "/direction");
      isKeydown = false;
    });

    function sendCommand(command, endpoint) {
      const data = { 'data': command };

      fetch(endpoint, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(response => {
        console.log('Success:', response);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }

    function onDirectionButtonMouseDown(direction) {
      sendCommand(direction, "/direction");
    }

    function onDirectionButtonMouseUp(direction) {
      sendCommand(direction, "/direction");
    }

    function onSendMessageButtonClick() {
      var message = document.getElementById("message").value;
      sendCommand(message, "/message");
    }
  </script>
</head>

<body>
  <div id="container">
    <img alt="camera output" src="{{ url_for('video_feed') }}">
    <table>
      <tbody>

        <tr>
          <td></td>
          <td><button class="direction-button noselect" onpointerdown="onDirectionButtonMouseDown('forward')" onpointerup="onDirectionButtonMouseUp('stop')">FORWARD</button></td>
          <td></td>
        </tr>

        <tr>
          <td><button class="direction-button noselect" onpointerdown="onDirectionButtonMouseDown('left')" onpointerup="onDirectionButtonMouseUp('stop')">LEFT</button></td>
          <td></td>
          <td><button class="direction-button noselect" onpointerdown="onDirectionButtonMouseDown('right')" onpointerup="onDirectionButtonMouseUp('stop')">RIGHT</button></td>
        </tr>

        <tr>
          <td></td>
          <td><button class="direction-button noselect" onpointerdown="onDirectionButtonMouseDown('back')" onpointerup="onDirectionButtonMouseUp('stop')">BACK</button></td>
          <td></td>
        </tr>

      </tbody>
    </table>

    <textarea id="message" title="enter message" rows="4">test</textarea><br>
    <button id="send-button" type="submit" onclick="onSendMessageButtonClick()">Send message</button>
  </div>
</body>
</html>
