<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pi Video Surveillance</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

  <script>
    var isKeydown = false;

    document.addEventListener('keydown', function(event) {
      if (isKeydown) {
        return;
      }

      var button = null;

      switch (event.key) {
        case "w":
        case "ArrowUp":
          button = document.getElementById("direction-button-forward");
          sendCommand("forward", "/direction");
          break;
        case "a":
        case "ArrowLeft":
          button = document.getElementById("direction-button-left");
          sendCommand("left", "/direction");
          break;
        case "d":
        case "ArrowRight":
          button = document.getElementById("direction-button-right");
          sendCommand("right", "/direction");
          break;
        case "s":
        case "ArrowDown":
          button = document.getElementById("direction-button-back");
          sendCommand("back", "/direction");
          break;
      }

      if (button != null) {
        button.classList.add("direction-button-highlight");
      }

      isKeydown = true;
    });

    document.addEventListener('keyup', function(event) {
      sendCommand("stop", "/direction");
      
      const button = document.querySelector(".direction-button-highlight");
      button.classList.remove("direction-button-highlight");

      isKeydown = false;
    });

    function sendCommand(command, endpoint) {
      const data = { 'data': command };

      fetch(endpoint, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(response => {
        console.log('Success:', response);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }

    function onDirectionButtonMouseDown(direction) {
      sendCommand(direction, "/direction");
    }

    function onDirectionButtonMouseUp(direction) {
      sendCommand(direction, "/direction");
    }

    function onSendMessageButtonClick() {
      var message = document.getElementById("message").value;
      sendCommand(message, "/message");
    }

    function onApplySettingsButtonClick() {

      function isValid(speed) {
        if (speed == "") {
          alert("Empty speed value");
          return false;
        }

        if (speed < 0 || speed > 255) {
          alert("Invalid speed value: " + speed);
          return false;
        } 

        return true;
      }

      const leftSpeed = document.getElementById("left-speed-input").value;

      if (!isValid(leftSpeed)) {
        return;
      }

      const rightSpeed = document.getElementById("right-speed-input").value;

      if (!isValid(rightSpeed)) {
        return;
      }

      const turnSpeed = document.getElementById("turn-speed-input").value;

      if (!isValid(turnSpeed)) {
        return;
      }

      var command = "u" + leftSpeed + "#"
      sendCommand(command, "/speed");

      command = "v" + rightSpeed + "#"
      sendCommand(command, "/speed");

      command = "t" + turnSpeed + "#"
      sendCommand(command, "/speed");
    }
  </script>
</head>

<body>
  <div id="container">
    <img alt="camera output" src="{{ url_for('video_feed') }}">
    <table>
      <tbody>

        <tr>
          <td></td>
          <td><button id="direction-button-forward" class="direction-button noselect" onpointerdown="onDirectionButtonMouseDown('forward')" onpointerup="onDirectionButtonMouseUp('stop')">FORWARD</button></td>
          <td></td>
        </tr>

        <tr>
          <td><button id="direction-button-left" class="direction-button noselect" onpointerdown="onDirectionButtonMouseDown('left')" onpointerup="onDirectionButtonMouseUp('stop')">LEFT</button></td>
          <td></td>
          <td><button id="direction-button-right" class="direction-button noselect" onpointerdown="onDirectionButtonMouseDown('right')" onpointerup="onDirectionButtonMouseUp('stop')">RIGHT</button></td>
        </tr>

        <tr>
          <td></td>
          <td><button id="direction-button-back" class="direction-button noselect" onpointerdown="onDirectionButtonMouseDown('back')" onpointerup="onDirectionButtonMouseUp('stop')">BACK</button></td>
          <td></td>
        </tr>

      </tbody>
    </table>

    <textarea id="message" title="enter message" rows="4">test</textarea><br>
    <button id="send-button" type="submit" onclick="onSendMessageButtonClick()">Send message</button>

    <p>Left Speed</p>
    <input id="left-speed-input" type="text" name="Left Speed">

    <p>Right Speed</p>
    <input id="right-speed-input" type="text" name="Right Speed">

    <p>Turn Speed</p>
    <input id="turn-speed-input" type="text" name="Turn Speed">

    <br>
    <br>
    <button onclick="onApplySettingsButtonClick()">Apply Settings</button>

  </div>
</body>
</html>
